@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    /* Colours */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --greyish-blue: hsl(217, 19%, 38%);
    --dark-greyish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    /* Fonts */
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    font-size: 1rem;
}

footer {
    margin-top: 5em;
    color:var(--light-cyan);
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-greyish-blue);
    border: none;
    border-radius: 15px;
    padding: 1.5em 1.75em;
    max-width: 300px;
}

.quote {
    color: var(--light-cyan);
    font-size: 1.75rem;
    text-align: center;
}

.divider {
    color: var(--light-cyan);
    margin-top: 1em;
}

.advice-id {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 0.85rem;
    color: var(--neon-green);
}

.btn-quote {
    background-color: var(--neon-green);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    top: 55px;
}

.btn-quote:hover {
    box-shadow: 0 0 15px var(--neon-green);
    cursor: pointer;
}

.attribution { 
    padding-top: 1em;
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1024px) {
    .quote-container {
        max-width: 500px;
    }
}