@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    /* Colours */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --greyish-blue: hsl(217, 19%, 38%);
    --dark-greyish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    /* Fonts */
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

body {
    display: grid;
    place-content: center;
    box-sizing: border-box;
    font-size: 1rem;
}

.quote {
    font-size: 1.75rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}